/* 大屏 */
@media screen and (min-width:1200px) {
    #left-container {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #right-container {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #left-container-2 {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #right-container-2 {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
@media screen and (min-width:1301px) {
    body {
        --stroke-width:3px;
    }
    #container-1 {
        height:calc(45vw + 60px);
    }
    #container-3 {
        height:calc(45vw + 60px);
    }
    #right-frame {
        width:10%;
    }
    #container-1 {
        height:calc(46vw + 60px);
    }
    #right-container-2 .text-block-2 h3 {
        margin-bottom:40px;
    }
    #left-container-2 .text-block-2 h3 {
        margin-bottom:40px;
    }
    #intro-card-2 {
        left:20%;
    }
    .index-container {
        width:16%;
        left:42%;
    }
    .index-container-2 {
        width:16%;
        left:42%;
    }
    #switch-container {
        width:13%;
    }
    #left-frame {
        width:13%;
    }
    #tags-container-2 {
        padding-left: 5%;
    }
    #left-container > h2 {
        height:50px;
    }
}
@media screen and (min-width:1401px) {
    /* #katanas-container {
        margin-top: 20%;
    } */
}
@media screen and (min-width:1501px) {
    body {
        --stroke-width:3.5px;
    }
    #container-1 {
        height:calc(44vw + 60px);
    }
    #intro-card {
        width:50%;
    }
    .text-block-right {
        margin-top:80px;
    }
    #right-container {
        width:30%;
        right:13%;
    }
    #left-frame {
        width:12%;
    }
    .text-block h3  {
        margin-bottom: 20px;
    }
    .text-block-right h3  {
        margin-bottom: 20px;
    }
    #container-3 {
        height:calc(40vw + 80px);
    }
    #intro-card-2 {
        left:25%;
    }
    #right-container-2 {
        width:30%;
        right:14%;
    }
    #right-frame-2 {
        width:11%;
        right: 1%;
        bottom: 15%;
    }
    .index-container {
        width:14%;
        left:43%;
    }
    .index-container-2 {
        width:14%;
        left:43%;
    }
    #left-container > h2 {
        height:50px;
        /* left:20%; */
        /* padding-left: 10%; */
    }
}
@media screen and (min-width:1601px) {
    #katanas-container {
        /* margin-top: 10%; */
    }
}
@media screen and (min-width:1701px) {
    #switch-container {
        width:12%;
        height:18vw;
    }
    #container-1 {
        height:calc(39vw + 60px);
    }
    #intro-card {
        width:40%;
    }
    #figure-container {
        width:30%;
        left:35%;
    }
    #left-container {
        left:16%;
    }
    #right-container {
        right:15%;
        width:28%;
    }
    #katanas-container {
        /* margin-top: 35%; */
    }
}
@media screen and (min-width:1901px) {
    body {
        --stroke-width:4px;
    }
    .index-container {
        width:12%;
        left:44%;
    }
    .index-container-2 {
        width:12%;
        left:44%;
    }
}
@media screen and (min-width:2001px) {
    #left-frame-2 {
        width:12%;
        /* top:10%; */
    }
    #right-frame-2 {
        width:10%;
    }
    #container-3 {
        height:calc(35vw + 60px);
    }
    #figure-container-2 > img {
        width:18%;
    }
    #left-frame {
        width:10%;
    }
}



/* 小屏 */


@media screen and (max-width:1190px) {
    #container-1 {
        height:calc(54vw + 60px);
    }
    #right-container {
        width:30%;
        right:13%;
    }
    #container-3 {
        height:calc(52vw + 60px);
    }
    #right-frame {
        width: 9%;
    }
    #tags-container-2 {
        padding-left:6%;
    }
    .tag-2 {
        padding:0px 30px 0px 70px;
    }
    .tag-2:last-of-type {
        padding:0px 40px;
    }
    #container-3 {
        height:calc(57vw + 60px);
    }
    .shape-outside-3 {
        height: 50vw;
    }
    .catalogs-alt {
        top:10%;
    }
}
@media screen and (max-width:1099px) {
    body {
        --stroke-width:2.5px;
    }
    #container-1 {
        height:calc(56vw + 60px);
    }
    #container-1 {
        height:calc(58vw + 60px);
    }
    #container-2 {
        min-height:65vw;
    }
    /* grid */
    .page > div {
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows:  repeat(5, 40%); */
        grid-auto-rows: 40%;
        grid:auto-flow dense;
        row-gap: 20px;
        column-gap: 20px;
    }
    .page img {
        width:100%;
        height:100%;
        object-fit:cover;
        object-position: 50% 0%;
        padding: 0px;
        margin:0px;
    }
    .cata-1 img {
        /* height:32%; */
    }
    .cata-2 > div {
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
    }
    .cata-2 img {
        /* height:80%; */
    }
    .cata-3 > div {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 60%;
    }
    .cata-1 > div {
        grid-auto-rows: calc(50% - 20px);
    }
    .cata-3 img {
        /* height:80%; */
        object-fit: cover;
    }
    .cata-5 img {
        /* height:50%; */
        /* object-fit: contain; */
    }
    .cata-5 > div {
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: 30%;
    }
    .object-fit-center {
        object-position: 50% 50% !important;
    }
    .object-fit-under {
        object-position: 50% 100%!important;
    }
    .object-fit-left {
        object-position: 0% 50%!important;
    }
    .object-fit-1 {
        object-position: 20% 50%!important;
    }
    .object-fit-cover {
        object-fit: cover!important;
    }
    .cata-3 img:first-of-type {
        height:inherit;
    }
    .h80 {
        height:inherit;
    }
    .cata-4.last-page > div {
        grid-template-columns: repeat(4, 1fr);
    }
    .cata-4.last-page img {
        height:inherit;
        /* margin: 15px; */
    }
    .cata-3.last-page img {
        height:60%;
    }
    .last-page div img {
        margin:0 20px 0 0;
        height:40%;
    }
    #figure-container .intro {
        height:70px;
    }
    #container-4 {
        min-height:65vw;
    }
    #frame-2 svg:nth-of-type(2) {
        width: 20%;
        overflow: visible;
        position: absolute;
        right: 0;
        top: -10%;
        z-index: 2;
    }
    .tag-2 {
        font-size:20px;
    }
    .tag p {
        font-size:20px;
    }
    .grid-2 {
        font-size: 16px;
    }
    #intro-card div {
        margin:10px 0 10px 30px;
    }
    #katanas-container > div {
        font-size:16px;
        width:70px;
        height:40px;
    }
    .mode-tag-container {
        font-size: 20px;
    }
    .mode-tag-container:nth-of-type(2) {
        font-size: 20px;
    }
    .catalogs-alt {
        height:80%;
    }
    .catalogs-alt .page img {
        /* height:40%; */
        height:inherit;
        /* width:100%; */
    }
    .catalogs-alt .cata-alt-1.page img , .catalogs-alt .cata-alt-2.page img , .catalogs-alt .cata-alt-3.page img {
        height:inherit;
    }
    .cata-alt-4 > div {
        grid-template-columns: repeat(4,1fr);
    }
    .catalogs-alt .cata-alt-5.page img {
        height:inherit;
    }
    .catalogs-alt .cata-alt-5.page > div {
        grid-template-columns: repeat(5,1fr);
        grid-auto-rows: 35%;
    }
    .cata-alt-1 > div, .cata-alt-2 > div, .cata-alt-3 > div {
        flex-direction: row;
        overflow-x: auto;
        flex-wrap: nowrap;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
    }
    .cata-alt-3 > div {
        grid-template-columns:repeat(4, 1fr);
        grid-auto-rows: 60%;
    }
}
@media screen and (max-width:1060px) {
    #tags-container-2 {
        padding-left: 7%;
    }
    #container-3 {
        height:calc(61vw + 80px);
    }
    #banner p {
        font-size:40px;
        /* text-wrap: nowrap; */
    }
    #banner {
        height:40px;
    }
    #figure-container-2 > img {
        top:10%;
    }
}
@media screen and (max-width:999px) {
    body {
        --stroke-width:2px;
    }
    #switch-container {
        width:12%;
        height:18vw;
    }
    .mode-tag-container {
        font-size: 18px;
    }
    .mode-tag-container:nth-of-type(2) {
        font-size:16px;
    }
    #left-container {
        width:33%;
        left:12%;
    }
    #right-container {
        width:33%;
        right:12%;
    }
    #left-frame {
        top:-10%;
        width:12%;
    }
    #container-1 {
        height:calc(62vw + 60px);
    }
    #container-3 {
        height:calc(67vw + 80px);
    }
    .grid-4 {
        font-size: 14px;
    }
    .index-container > div > div {
        font-size: 40px;
    }
    .index-container {
        height:40px;
    }
    .index-container-2 > div > div {
        font-size:25px;
    }
    .index-container-2 {
        height:40px;
    }
    #figure-container .intro {
        height:60px;
        font-size: 12px;
    }
    #figure-container {
        top:5%;
    }
}
@media screen and (max-width:949px) {
    #icons-container div {
        height:40px;
        width:40px;
    }
    #container-1 {
        height:calc(67vw + 80px);
    }
    #container-3 {
        height:calc(70vw + 80px);
    }
}



/* rearrange threshold */



@media screen and (max-width:899px) {
    #container-1 {
        position:relative;
        height:auto;
    }
    #left-container {
        position: relative;
        width:100%;
        left:21%;
    }
    #figure-container {
        /* position:relative; */
        left:auto;
        right:0;
        width:50%;
        top:0;
    }
    #right-container {
        position: relative;
        width:60%;
        right:-20%;
    }
    #figure-container .intro > p {
        min-width: 120px;
    }
    #left-frame {
        top:0%;
        left:auto;
        right:0%;
        transform: scaleX(-1);
    }
    #right-frame {
        top:15vw;
        position: absolute;
        /* background: red; */
        height:100%;
        width:15%;
        right: auto;
        left:2%;
        z-index: 2;
    }
    .shape-outside-2,.shape-outside-3 {
        display:none;
    }
    .text-block-right {
        /* width:60%; */
        /* position:relative; */
        right:0;
        margin-bottom: 80px;
    }
    #figure-container .intro:nth-of-type(6) {
        right:60%;
        left: auto;
    }
    #figure-container .intro:nth-of-type(7) {
        right:62%;
        left: auto;
    }
    #figure-container .intro:nth-of-type(9) {
        right:45%;
        left: auto;
    }
    #figure-container .intro:nth-of-type(10) {
        right:65%;
        left: auto;
    }
    #intro-card {
        width:20%;
    }
    #katanas-container {
        margin-top: 50PX;
        left:-10%;
        width:80%;
    }
    #banner {
        transform:translate(30%,-60%) rotate(-30deg);
        /* position: relative; */
    }
    #container-2 {
        min-height: 100vw;
    }
    .page img {
        height:inherit;
    }
    .page > div {
        grid-template-columns:1fr 1fr;
    }
    .cata-1 > div{
        grid-template-columns:1fr 1fr;
        grid-auto-rows:calc(33% - 20px);
    }
    .cata-4.last-page > div {
        grid-template-columns:1fr 1fr 1fr;
    }
    .cata-3 img {
        /* height:50%; */
        margin-bottom:0;
        margin-top: 0;
    }
    .cata-5 > div {
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 33%;
    }
    .cata-alt-4 > div {
        grid-template-columns: repeat(3,1fr);
    }
    .catalogs-alt .cata-alt-5.page > div {
        grid-template-columns: repeat(3,1fr);
    }
    .cata-5 img {
        /* height:21%; */
    }
    .cata-3 div {
        justify-content:center;
    }

    #container-3 {
        position:relative;
        height:auto;
    }
    #left-container-2 {
        position:relative;
        width:50%;
    }
    #figure-container-2 > img {
        /* position:relative; */
        width:30%;
        left:auto;
        right:10%;
        top: 0;
    }
    #right-container-2 {
        position:relative;
        width:70%;
        /* left:auto; */
        left:15%;
        margin-bottom:100px;
    }
    .shape-outside-5 {
        display:none;
    }
    #container-3 h1 {
        width:50%;
        left:25%;
        padding-bottom: 25%;
    }
    #intro-card-2 {
        width:40%;
        left:30%;
    }
    #icons-container {
        left:10%;
    }
    #left-frame-2 {
        top:0%;
        left:auto;
        right:0%;
    }
    #right-frame-2 {
        top:10%;
        left:0;
        right:auto;
    }
    #container-4 {
        min-height:100vw;
    }
    #tags-container-2 {
        padding-left: 8%;
    }

}
@media screen and (max-width:799px) {
    #loading div {
        width:180px;
        height:144px;
    }
    #loading h1 {
        font-size: 40px;
    }
    #tags-container-2 {
        padding-left: 9%;
    }
    #intro-card {
        width:30%;
    }
    .mode-tag-container {
        font-size: 16px;
    }
    .mode-tag-container:nth-of-type(2) {
        font-size: 14px;
    }
    .tag {
        min-width: 80px;
        height:70%;
        top:30%;
    }
    #tag-side-banner {
        width: calc(94% - 400px + 0.5 * var(--stroke-width));
        left: calc(5% + 400px - 0.5 * var(--stroke-width));
    }
    #frame-2 svg:nth-of-type(1) {
        display: none;
    }
    .tag-2 {
        height: 50px;
        top:10px;
        padding: 0px 40px 0px 60px;
        font-size: 18px;
    }
    #right-frame-2 {
        width:10%;
        left: 2%;
    }
    #right-frame {
        width:14%;
        height: 50%;
    }
    #right-container-2 .text-block-2 h3 {
        font-size: 20px;
    }
    #left-container-2 .text-block-2 h3 {
        font-size: 20px;
    }
    #container-3 h1 {
        width:60%;
        padding-bottom: 30%;
        left:20%;
    }
    .index-container {
        width:30%;
        left: 35%;
    }
    .index-container-2 {
        width:30%;
        left:35%;
    }
}
@media screen and (max-width:699px) {
    .tag-2 {
        /* height: 50px; */
        /* top:10px; */
        padding: 0px 30px 0px 50px;
        /* font-size: 18px; */
    }
    .tag-2:last-of-type {
        padding: 0 40px;
    }
    #frame-2 svg:nth-of-type(2) {
        right:2%;
    }
    #tags-container-2 {
        padding-left: 11%;
    }
    .pixel-font-footer {
        font-size: 25px;
    }
    #frame-2 svg:nth-of-type(4) {
        width:15%;
    }
    #switch-container {
        width: 15%;
        height: 22.5vw;
    }
    #right-frame {
        top:22.5vw;
    }
    #left-container > h2 {
        font-size: 25px;
        width:200px;
    }
    .cata-1 > div {
        grid-template-columns: 1fr;
        grid-auto-rows: 40%;
    }
}
@media screen and (max-width:649px) {
    #loading div {
        width:160px;
        height:128px;
    }
    #loading h1 {
        font-size: 30px;
    }
    .shape-outside-6 {
        float:right;
        width:30%;
        height:40vw;
        /* background: red; */
        shape-outside: polygon(0 0, 100% 0%, 100% 100%);
    }
    #left-container-2 .text-block-2:nth-of-type(2) {
        width: 140%;
    }
    .grid-3 {
        padding:4px;
        font-size: 15px;
    }
    .grid-4 {
        font-size: 14px;
    }
    #intro-card-2 .grid {
        grid-template-columns:1fr 60px 70px 1fr;
    }
}
@media screen and (max-width:549px) {
    body {
        --stroke-width:1.5px;
    }
    #tags-container-2 {
        padding-left: 12%;
    }
    #tag-side-banner {
        display: none;
    }
    #container-1 {
        margin-bottom: 20px;
    }
    #left-container > h1 {
        font-size: 30px;
    }
    #left-container > h1 > img:first-of-type {
        width: 111px;
        margin-left: -110px;
    }
    #left-container > h1 > img:nth-of-type(2) {
        width: 50px;
    }
    .text-block p.elements {
        max-width:90%;
        word-break: break-all;
        display: block;
        word-wrap: break-word;
        line-break: anywhere;
    }
    .text-block.elements {
        width:70%;
    }
    #figure-container-2 > img {
        width:38%;
        right:-2%;
    }
    #frame-2 svg:nth-of-type(2) {
        top:calc(0px - 60px - 10%);
    }
    #katanas-container {
        width:100%;
        left:0;
        margin: 20px 0;
    }

}
@media screen and (max-width:519px)  {
    .text-block p,.text-block-right p {
        font-size: 12px;
    }
    .grid-2 {
        font-size: 14px;
    }
    .grid-1 {
        font-size: 13px;
    }
    #intro-card div {
        grid-template-columns:44px 1fr;
    }
    .pixel-font-footer {
        font-size: 20px;
    }
    .text-block-2 p {
        font-size: 12px;
    }
    .mode-tag-container {
        font-size: 14px;
    }
    #tags-container-2 {
        padding-left: 0px ;
        position: absolute;
        top:-60px;
        /* left:7%; */
    }
    .cata-4.last-page > div {
        grid-template-columns:1fr 1fr;
    }
    .cata-alt-4 > div {
        /* grid-template-columns:1fr 1fr; */
        grid-auto-rows: 40%;
    }
    .tag-2 {
        width:20%;
        padding: 0px;
        margin-left:-5%;
        border-radius:40px 40px 0 0;
        height: 40px;
        top:20px;
    }
    .tag-2:last-of-type {
        border-radius: 40px 40px 0 0;
        padding: 0;
        left: 30px !important;
        margin-right: 30px!important;
    }
    .tag-2:last-of-type p {
        position:relative;
        text-wrap: nowrap;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .tag-2 p {
        /* left:20%; */
        position:relative;
        text-wrap: nowrap;
        font-size: 16px;
        text-align: center;
        width: 100%;
    }
    .index-container {
        height:30px;
        width:40%;
        left:30%;
    }
    .cute-footer {
        font-size: 12px;
    }
    #left-container-2 .text-block-2 h3,#right-container-2 .text-block-2 h3 {
        font-size: 16px;
    }
    #right-container-2 .text-block-2 h3 {
        left: calc(100% - 120px);
    }
    .index-container-2 {
        height: 30px;
    }
    .index-container-2 > div > div {
        font-size: 20px;
    }
    #figure-container .intro  {
        height:50px;
    }
    #figure-container .intro > p {
        width: 60px;
        font-size: 10px;
        font-weight: 700;
    }
    #figure-container .intro:nth-of-type(8) {
        left:auto;
        right:85%;
    }
    .text-block h3,.text-block-right h3 {
        font-size: 17px;
    }

    #intro-card-2{
        width:70%;
        left: 15%;
    }
    .tag {
        /* width:20%; */
        min-width: 18%;
    }
}
@media screen and (max-width:450px) {
    #figure-container {
        position: relative;
        left: 30%;
        width: 70%;
    }
    .shape-outside-1 {
        display: none;
    }
    #intro-card {
        width:40%;
    }
    #figure-container-2 {
        position: relative;
        width: 100%;
    }
    #figure-container-2 > img {
        position: relative;
        left:30%;
    }
    #container-3 h1 {
        width: 100%;
        padding-bottom: 50%;
    }
    .shape-outside-6 {
        display: none;
    }
    #icons-container {
        width: 100%;
        left: 20%;
    }
    .text-block-2 p.nowrap {
        width: 100%;
        text-wrap: nowrap;
    }
    .catalogs-alt {
        height:92%;
        top: 4%;
    }
    #container-2 {
        min-height: 150vw;
    }
    .cata-3 div {
        grid-auto-rows: 30%;
    }
    .cata-5 > div {
        grid-template-columns: 1fr 1fr;
    }
    #container-4 {
        min-height: 150vw;
    }
    .cata-alt-4 > div {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 30%;
    }
    .catalogs-alt .cata-alt-5.page > div {
        grid-template-columns: 1fr 1fr;
    }
    .cata-alt-1 > div {
        grid-template-columns: 1fr;

    }
    #right-frame {
        left:auto;
        right:2vw;
        top:0;
    }
    #left-frame {
        transform: scaleX(1);
        /* left:-10vw; */
        right: auto;
    }
    #frame-2 {
        border-radius: 0px 20px 20px 20px;
    }
    .tag-2,.tag-2:last-of-type {
        border-radius: 30px 30px 0 0;
    }
}
@media screen and (max-width:400px) {
    #switch-container {
        width: 20%;
        height:30vw;
    }
    footer > div {
        display: block;
    }
    footer > div p {
        text-align: left;
    }
    footer > div p:nth-of-type(2) {
        text-align: left;
        padding-top: 0;
    }
    #banner p{
        font-size: 20px;
    }
    #banner {
        height: 20px;
    }
    .tag-2:last-of-type {
        left: 20px !important;
        margin-right: 20px!important;
    }
}
@media screen and (max-width: 350px) {
    #figure-container .intro > p {
        min-width: 80px;
        /* height: 80px; */
    }
    #figure-container .intro {
        height: 60px;
    }
    #figure-container .intro:nth-of-type(8) {
        height: 100px;
    }
    #right-frame {
        top:20vw;
    }
    #intro-card {
        width: 50%;
    }
    #intro-card-2 {
        left: 10%;
    }
}
@media screen and (max-width: 300px) {
    #loading div {
        width:120px;
        height:96px;
    }
    #loading h1 {
        font-size: 20px;
    }
    .tag-2 p,.tag-2:last-of-type p {
        font-size: 12px;
    }
    .tag p {
        font-size: 15px;
    }
    #figure-container-2 > img {
        width: 50%;
        left: 25%;
    }
    .text-block-2 p.nowrap {
        text-wrap: wrap;
    }
    .mode-tag-container,.mode-tag-container:nth-of-type(2) {
        font-size:0px;
    }
    .cute-footer {
        font-size: 10px;
    }
    .pixel-font-footer {
        font-size: 15px;
    }
    #right-frame {
        top: 30vw;
    }
    .grid-4,.grid-3 {
        font-size: 12px;
    }
}